<% if has_grandson_issues?(@issue) %>
  <%= content_for :header_tags do
    stylesheet_link_tag("subtask_list_accordion", :plugin => "redmine_subtask_list_accordion") +
    javascript_include_tag("subtask_list_accordion", :plugin => "redmine_subtask_list_accordion")
  end %>
  <div class="accordion_control contextual">
    <a href="javascript:void(0)" class="subtask_all_expand"><%= l(:list_all_expand) %></a>
    <a href="javascript:void(0)" class="subtask_all_collapse"><%= l(:list_all_collapse) %></a>
  </div>
  <script>
    window.subtaskListAccordionExpandTreeAtFirst = <%= expand_tree_at_first?(@issue, User.current) %>;
  </script>
<% end %>
<script>
  //control context-menu of this plugin 
  $(document).ready(function(){
    //wrap contextMenuShow
    var _contextMenuShow = contextMenuShow;
    isHideMenuSla = false;
    contextMenuShow = function(event){
      if ($(event.target).parents("div[id='relations']").size() == 1 || !$("table.list > tbody > tr").is(".idnt-1"))
      {
        //hide this plugin menu
        isHideMenuSla = true;
      }
      _contextMenuShow(event);
    }
    $(document).ajaxComplete(function(){
      if (isHideMenuSla)
      {
        $("#context-menu > ul > li.subtask_list_accordion").css("display", "none");
        isHideMenuSla = false;
      }
    });
  });
</script>