<li class="subtask_list_accordion">
  <a href="javascript:void(0)" class="icon-arrow-expanded" onclick="seletedTreeOpen(); return false;"><%= l(:context_menu_expand) %></a>
</li>
<li class="subtask_list_accordion">
  <a href="javascript:void(0)" class="icon-arrow-collapsed" onclick="seletedTreeClose(); return false;"><%= l(:context_menu_collapse) %></a>
</li>
<li class="subtask_list_accordion">
  <a href="javascript:void(0)" onclick="allExpandNext(); return false;"><%= l(:context_menu_all_expand_next) %></a>
</li>